/* Center workflowr buttons */
.btn-workflowr {
  display: block;
  margin: auto;
}


/* Add red border around workflowr report button */
.btn-workflowr-report {
  border: red 1px solid;
}


/* Add blue border around workflowr past figure version buttons */
.btn-workflowr-fig {
  border: blue 1px solid;
}


/* Add purple border around workflowr session information button */
.btn-workflowr-sessioninfo {
  border: purple 1px solid;
}
